<div class="container">
	<header>
		<h1><span class="extra">My name is <strong><a href="/about" title="About Me">Terrence Ryan</a></strong>. </span>
			<span class="short">I'm <strong><a href="/about" title="About Me">Terry Ryan</a></strong>. </span> 
			<span class="extra">I&rsquo;m a <a href="/resume" title="My Resume">geek from Philadelphia who loves technology</a>. </span>
			<span class="extra">I love evangelizing tools and tech that makes developers lives easier. </span> 
			<span class="short">I&rsquo;m an <a href="/resume" title="My Resume">Technology lover</a>. </span> 
			I <span class="extra">also</span> wrote <a href="/book" title="My Book">Driving Technical Change</a>. </h1>
	</header>

	<div class="top-bar">
		<div class="page-title home">
			<app-nav></app-nav>
		</div>
	</div>

	<router-outlet></router-outlet>

	<footer>
		<p class="copyright">Copyright 2004 &mdash; 2020 &nbsp;<strong>Terrence Ryan</strong></p>
		<small class="disclaimer">This is a personal site &mdash; the opinions expressed here are mine and not my employer's.</small>
	</footer>
</div>

<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-620739-3']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>



