@mixin fontface ($path,$name) {
  @font-face {
      font-family: '#{$name}';
      src: url('#{$path}/#{$name}.eot');
      src: url('#{$path}/#{$name}.eot?#iefix') format('embedded-opentype'),
           url('#{$path}/#{$name}.woff') format('woff'),
           url('#{$path}/#{$name}.ttf') format('truetype'),
           url('#{$path}/#{$name}.svg#$name') format('svg');
      font-weight: normal;
      font-style: normal;

  }
}

@include fontface (assets/fonts,entypo);
@include fontface (assets/fonts,entypo-social);

.icon{
	font-family: entypo-social, entypo;
}


body{
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  
}


header{
  h1{
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    strong{
      font-family: proxima-nova, sans-serif;
      font-weight: 800;
    }
  }

}

p{
  line-height: 1.5;
  letter-spacing: -0.05em;
}

h1{
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-weight: 500;
  margin-top: 10px;
}

h2{
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px
}

h1 a, h2 a, h3 a{
  text-decoration: none;
}

a{
  color: #41ad49;
  text-decoration: none;
}
a:link{
  color: #41ad49;
  
}
a:active{
  color: darken(#41ad49, 1%);
  border-bottom: 1px solid #41ad49;
}

a:hover{
  color: darken(#41ad49, 1%);
  border-bottom: 1px dotted #41ad49;
  
}

a:visited{
  color: darken(#41ad49, 1%);
  
}

.main{
  background-color: #fff;
  margin-bottom: 0;

  p{
    font-size: 20px;
  }
}

footer{
  margin-top: 0;
  background-color: #fff;
  padding-top:20px;
  padding-bottom:20px;
  
  p{
    margin-top: 0;
  }
}



html, body{
  padding: 0;
  margin: 0;
}

.icon{
  margin-top: .2rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  display: inline-block;
  font-size: 2.5rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 2rem;
  background-color: #eee;
  line-height: .7;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(60,64,67,0.30), 0 1px 1px 1px rgba(60,64,67,0.15);
}

@media screen and (max-width: 799px) {
  .extra{
    display: none;
  }

  body{
    background-color: #fff;
  }

  .container{
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }




  .externalref{
    margin-bottom: 80px;
  }

 
}

@media screen and (min-width: 800px) {
    .short{
      display: none;
    }

    .container{
      max-width: 1024px;
      margin: 0 auto;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  
    .centered, .main, header, footer, .top-bar nav {
      padding-left: 20px;
      padding-right: 20px;
    }
    
  
   
  }